{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1 class="text-3xl font-bold underline">
        Homepage
    </h1>

    {% if app.user %}
        {% set user = app.user %}

        User: {{ user.email }}
        <br />
        Verify: {{ user.isVerified is same as(true) ? 'Yes' : 'No' }}
    {% endif %}

{% endblock %}
